# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# API
DATABASE_URL=
REDIS_URL=
JWT_SECRET=your_super_secret_key
API_PORT=8080
DEV_MODE=true 

# Bot
BOT_TOKEN=
API_URL=
MINI_APP_URL=

# Frontend
VITE_API_URL=
VITE_DEV_AUTH=true  # remove in production
